{{ define "main" }}

<div style="display: flex; align-items: flex-start;gap: 100px;">
  <div style="flex: 1;">
    <h1>Hello Welcome!<img src="https://i.pinimg.com/originals/c8/67/f1/c867f18c304b53b3638c542e44cf0728.gif" alt="GIF" class="inline-image"></h1>
    </br>
    <h2>My name is Abhinav</h2> 
  
    <p>I am currently pursuing my master’s degree in Information Systems at Northeastern University in Boston, MA. I have over three years of experience as a Data Engineer at Jio Platforms, where I have worked extensively in the supply chain and telecom domains. I have leveraged technologies such as Scala, PySpark, and Hive, gaining hands-on experience with various real-life projects and cloud platforms like Azure and GCP.</p>

    <p>🔎 I'm exploring generative AI and learning about different frameworks and emerging new technologies.</p>
    <p>🤝 I am open to collaborate on innovative projects that lead to impactful solutions.</p>
    <p>💼 I am looking for exciting internship or co-op opportunities.</p>
    <p>📧 Feel free to reach out and <a href="#connect_with_me">connect with me</a> or email me at gangurde.a@northeastern.edu.</p>

    <p>I’m passionate about  integrating large datasets and automating to enhance efficiency and build scalable solutions and insightful dashboards. Let’s connect and create something extraordinary!</p><a href="about_me/">(more)</a></p>

  </div>
</div>

<h1>Latest posts</h1>

<div class="posts-list">

    
        <div class="post">
            <p>
                <div class="date">Nov. 26, 2024</div>
                <h1><a href="https://abhinow1997.github.io/posts/rss-news-feed/" title="RSS News Sentiment Analysis Dashboard">: RSS News Sentiment Analysis Dashboard</a></h1>
                <p>This project creates a daily-updated dashboard analyzing sentiment in news articles from various broadcasters. It uses RSS feeds to collect news data, performs sentiment analysis, and visualizes the results using a Streamlit web application.</p>
            </p>
        </div>    
    
        <div class="post">
            <p>
                <div class="date">Jul. 1, 2019</div>
                <h1><a href="https://abhinow1997.github.io/posts/realtime-geolocation-notification/" title="Jio - IKEA Notifications PoC">: Jio - IKEA Notifications PoC</a></h1>
                <p>During my time as a data engineer at Jio Platforms, an interesting streaming requirement emerged. We needed to develop a proof of concept (PoC) pipeline and workflow for a unique client: IKEA.</p>
            </p>
        </div>    
</div>



<h1>Connect with me:</h1>
<section id ="connect_with_me"></section>
<style>
    .social-links {
      display: flex;
      justify-content: left;
      align-items: left;
      gap: 20px;
      margin-top: 20px;
    }
    .social-links a {
      color: #333;
      font-size: 24px;
      transition: color 0.3s ease;
    }
    .social-links a:hover {
      color: #0077B5;
    }
    .inline-image {
      width: 50px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      vertical-align: middle; /* Aligns the image vertically with the text */
    }
  </style>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
  <div class="social-links">
    <a href="https://www.linkedin.com/in/abhinav-gangurde" target="_blank" title="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:gangurde.a@northeastern.edu" title="Email">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://www.instagram.com/__abhi.now__" target="_blank" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    <a href="tel:+18573519271" title="Phone">
      <i class="fas fa-phone"></i>
    </a>

</div>
  
<!-- <h1>Latest posts</h1>
<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div> -->

{{ end }}