{{ define "main" }}

<div style="display: flex; align-items: flex-start;gap: 100px;">
  <div style="flex: 1;">
    <h1>Hello Welcome! 👋</h1>
    <p>I’m Abhinav, a data enthusiast and Master's student in Information Systems at Northeastern University.</p>
    <p> Feel free to explore my website to learn more about my professional journey, projects, and the exciting world of data. Let’s connect and create something extraordinary!</p><a href="about_me/">(more)</a></p>
  </div>
  <div style="flex: 1;">

<img src="/images/1731099934460.jpeg" alt="Abhinav Gangurde" style="width: 300px; height: 300px; border-radius: 50%; object-fit: cover;" />

  </div>
</div>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>



<h1>Connect with me:</h1>

<style>
    .social-links {
      display: flex;
      justify-content: left;
      align-items: left;
      gap: 20px;
      margin-top: 20px;
    }
    .social-links a {
      color: #333;
      font-size: 24px;
      transition: color 0.3s ease;
    }
    .social-links a:hover {
      color: #0077B5;
    }
  </style>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
  <div class="social-links">
    <a href="https://www.linkedin.com/in/abhinav-gangurde" target="_blank" title="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:gangurde.a@northeastern.edu" title="Email">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://www.instagram.com/__abhi.now__" target="_blank" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    <a href="tel:+18573519271" title="Phone">
      <i class="fas fa-phone"></i>
    </a>
  </div>


<!-- <h1>Latest posts</h1>
<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div> -->

{{ end }}